@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #202430, #212730);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.middle-obj {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 500rem;
  background: #556ff8;
  z-index: 1;
  width: 30rem;
  height: 30rem;
  filter: blur(30px);
  animation-duration: 1s;
  animation-name: cardAnimation;
}
.card {
  /* transition: 0.5s all linear; */
  z-index: 2;
  background-color: #1c2129;
  padding: 2rem;
  max-width: 29rem;
  max-height: 36rem;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 0 2rem;
  animation-duration: 1s;
  animation-name: cardAnimation;
}
@keyframes cardAnimation {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 36rem;
  }
}
.search-bar,
.city-status,
.wather-status,
.more-info {
  display: flex;
  align-items: center;
}
.search-bar {
  width: 100%;
}
.search-bar input {
  width: 100%;
  background-color: #667ffd15;
  border: none;
  outline: none;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: 0.1rem solid #5570f800;
}
.search-bar input:focus {
  transition: 0.3s all linear;
  border: 0.1rem solid #556ff8;
}

.search-bar button {
  background-color: #556ff8;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  margin-left: 1rem;
}
.search-bar button img {
  height: 2.2rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
}
.city-status {
  margin-top: 2rem;
}
.city-status img {
  height: 2.5rem;
  margin-right: 1rem;
}
.city-status h2 {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}
.wather-status {
  margin-top: 2rem;
}
.wather-status img {
  height: 3.5rem;
  margin-right: 1rem;
  background-color: #a3b1ff;
  border-radius: 0.5rem;
}
.wather-status h4 {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}
.deg-staus {
  margin: 4rem auto;
  text-align: center;
}
.deg-staus h1,
.deg-staus span {
  font-size: 4.5rem;
  font-weight: 600;
  color: #556ff8;
}
.more-info {
  justify-content: space-between;
  padding: 0 3rem;
}
.more-info .humidity,
.more-info .wind-speed {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.more-info .humidity h1,
.more-info .wind-speed h1 {
  font-size: 3rem;
  color: #556ff8;
}
.more-info .wind-speed h1 > span,
.more-info .humidity h1 > span {
  font-size: 2rem;
  margin-left: 0.5rem;
}
.more-info .humidity > span,
.more-info .wind-speed > span {
  font-size: 1.5rem;
  color: #ffffffc9;
  font-weight: 500;
}
@media screen and (max-width: 360px) {
  .more-info {
    padding: 0 1rem;
  }
}
